@import './libs.scss';

// ROOT
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

// SELECTİON 
::-moz-selection {
  color: white;
  background: #31AF81;
}

::selection {
  color: white;
  background: #31AF81;
}

// SCROLL
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #DFF6ED;
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background: #31AF81;
}

::-webkit-scrollbar-thumb:hover {
  background: #1F6F51;
}

body{
  min-height: 100vh;
  padding: 0 0 100px 0;
  background: rgb(163, 249, 215);
  background: linear-gradient(143deg, rgba(163,249,215,1) 0%, rgba(155,233,204,1) 100%);
}

i{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all .3s;
  color: rgb(0, 0, 0);
  &:hover{
    transition: all .3s;
    color: rgb(31, 31, 31);
  }
}

a{
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  color: black;
}


// COUNTRIES FORM
.countries-form{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  
  .countries-select {
    width: 100%;
    max-width: 700px;
    padding: .5rem 1rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
    transition: all .3s;
    background-color: black;
    color: white;

    &:hover{
      transition: all .3s;
      background-color: rgb(31, 31, 31);
    }

    option{
      background-color: black;
      color: white;
    }

  }
}

// INFO-BOX
.info-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 5rem 1rem;
  font-size: 1.1rem;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.473);

  
  .info-box{
    width: 100%;
    max-width: 320px;
    position: relative;
    overflow: hidden;
    padding: 3rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(190, 190, 190);
    background-color: rgba(255, 255, 255, 0.856);

    .header-box{
      margin-bottom: 2rem;

      .info-header{
        text-align: center;
      }
  
      .info-second-header{
        text-align: center;
      }
    }

    .info-close-btn{
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      font-size: 1.5rem;
      color: rgb(212, 85, 0);
    }
  }
}